{% extends "base.html" %}

{% block extrahead %}
{{ super() }}


<meta name="google-site-verification" content="sGz-Ne0V3Hmj0DCCSEjji9EwwTjr_ucUWohbWaL0sU0">


<meta name="title" content="Memlayer – The plug-and-play memory layer for smart, contextual agents">
<meta name="description"
    content="Memlayer is an open-source memory layer for local LLMs and agents — fast, persistent, embedding-based long-term memory with easy Python API.">
<meta name="keywords"
    content="memlayer, llm memory, vector store, agent memory, knowledge graph, embeddings, open source">


<meta property="og:title" content="Memlayer – Memory layer for LLMs and agents">
<meta property="og:description"
    content="Persistent long-term memory, multi-tier retrieval, noise-aware gating, and <100ms search.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://divagr18.github.io/memlayer">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Memlayer – Memory layer for LLMs and agents">
<meta name="twitter:description"
    content="Persistent long-term memory, multi-tier retrieval, noise-aware gating, and <100ms search.">
{% endblock %}